.circle {
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#536;
	margin-left: auto;
	margin-right: auto;
}

body {
	width:100%;
	vertical-align: center;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

div {
	font-size: 1.1em;
}

#letters {
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

#background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.title_letter {
	width: 5%;
	height: 7%;
}

#rcorners {
	margin-left: auto;
	margin-right: auto;
    border-radius: 5%;
    background: url(../img/paper.jpg);
    background-position: center;
    background-repeat: repeat;
    padding: 20px;
    width: 300px;
    height: 400px;
	line-height:3em;
    overflow:hidden;
}

dialog {  
   border-radius: 7px;
    background:#6b6a63;
    margin:30px auto 0;
    padding:6px;  
    position:absolute;
    width:800px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -40px;
} 
